body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  .top-section {
    background-color: #7fd3d74f;
    text-align: center;
    color: #090000;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  table{
    /* align-self: center; */
    margin: auto;
  }
  table, tr, td, th{
    border: 2px solid black;
    /*border-collapse: collapse;*/
    padding: 7px;
  }
  .profile-info {
    display: flex;
    align-items: center;
  }
  .profile-pic-container {
    margin-right: 20px;
  }
  .profile-pic {
    width: 125px;
    height: 125px;
    border-radius: 50%;
  }
  .name-info {
    display: flex;
    flex-direction: column;
  }
  .name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .designation {
    font-size: 18px;
    color: #777;
  }
  a{
    text-decoration: none;
  }
  h1{
    color: blue;
    text-align: center;
  }
  h2, h3{
    text-align: center;
    font-family: initial;
    font-size: 35px;
    color: #ee2727;
  }
  p{
    padding: 10px;
    text-align: justify;
    font-family: cursive;
  }
  ul li{
    margin: 10px;
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  .left-section, .middle-section, .right-section {
    padding: 20px;
    box-sizing: border-box;
    /* background-color: #d3b2b2; */
  }
  .left-section, .right-section {
    flex-basis: 20%;
    /* background-color: #f0f0f0; */
  }
  .middle-section {
    flex-basis: 60%;
    background-color: #fff;
  }
  .bottom-section {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  .bottom-section p{
    text-align: center;
  }
  strong{
    font-family: initial;
    font-size: 20px;
    color: #ee2727;
  }