body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  .top-section {
    background-color: #7fd3d74f;
    text-align: center;
    color: #090000;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-info {
    display: flex;
    align-items: center;
  }
  .profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .name {
    font-size: 24px;
    font-weight: bold;
  }
  .designation {
    font-size: 18px;
    color: #777;
  }
  a{
    text-decoration: none;
  }
  h2{
    text-align: center;
    font-family: initial;
    font-size: 35px;
  }
  p{
    text-align: justify;
    font-family: cursive;
  }
  ul li{
    margin: 10px;
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  .left-section, .middle-section, .right-section {
    padding: 20px;
    box-sizing: border-box;
  }
  .left-section, .right-section {
    flex-basis: 20%;
    background-color: #f0f0f0;
  }
  .middle-section {
    flex-basis: 60%;
    background-color: #fff;
  }
  .bottom-section {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  .bottom-section p{
    text-align: center;
  }